body {
	overflow: hidden;
	margin: 0;
}

.Opponent {
	animation: rotation 3s infinite linear;
	-webkit-animation: rotation 3s infinite linear;
}

.paused .Opponent {
	/* animation: none;
	-webkit-animation: none; */
	animation-play-state: paused;
}

@keyframes rotation {
	from {
	  transform: rotate(0deg);
	  /* -webkit-transform: rotate(0deg); */
	}
	to {
	  transform: rotate(359deg);
	  /* -webkit-transform: rotate(359deg); */
	}
  }
  

.gamebutton {
	border: none;
	background: #ddd;
	color: #333;
	padding: 10px 20px;
	outline: none;
	font-family: monospace;
	cursor: pointer;
}
ul {
    display: inline;
    float: right;
    list-style: none;
    background-color: rgb(21, 20, 20);
    color: rgb(244, 249, 244);
    padding-left: 4;
}

li {
    margin: 1em;
}